<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Getting Started: Handling Form Submission</title>
        <link rel="stylesheet" type="text/css" href="library.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Authors</h1>

        <h2>Overview of existing authors</h2>

        <table>
            <tr>
                <th>Author name</th>
            </tr>
            <tr th:each="author: ${allAuthors}">
                <td th:text="${author.name}" />
            </tr>
        </table>

        <h2>Create a new author</h2>
        <form action="#" th:action="@{/author/new}" th:object="${author}" method="post">
            <p>Author name: <input type="text" th:field="*{name}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>
